main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 300px 300px 300px;
    gap: 5px;
}

.item {
    background-color: rgb(223, 222, 222);

}

.sub {
    background-color: rgb(155, 155, 155);
}

.item2,
.item3,
.item12,
.item9 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.item6 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.item7 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5px;
}