body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo img {
    padding-left: 50px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-row: 1/2;
    grid-column: 1/5;
    z-index: 2;
    text-align: center;

}

main {
    grid-area: main;
    grid-row: 2/5;
    grid-column: 2/5;

}



aside {
    grid-area: aside;
    grid-row: 1/5;
    grid-column: 1/2;

}

.menuIcon>div {
    width: 35px;
    height: 1px;
    background-color: black;
    margin: 6px 0;

}

.videos {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}

.item {
    background-color: bisque;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;

    margin-top: 40px;
    margin-bottom: 40px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 140px;
}

.asideImage {
    width: 30px;
    height: 30px;
}

input {
    border-radius: 20px;
    border: 0.5px solid black;
    text-align: left;
    padding: 20px;
    width: 530px;
}

.profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}