.container {
    display: flex;
    align-items: flex-start;
    height: 700px;
}

.box {
    font-size: 100px;
    color: #f0f8ff;
}

.box1 {
    font-size: 50px;
    color: #f0f8ff;
    margin-top: 30px;
}

.box4 {

    align-self: stretch;
    font-size: 100px;
    color: aliceblue;

}

.box5 {
    align-self: center;
    font-size: 100px;
    color: aliceblue;
}

.box10 {
    align-self: end;
    font-size: 100px;
    color: aliceblue;
}


.green {
    background-color: greenyellow;
}

.blue {
    background-color: rgb(6, 147, 255);
}

.purple {
    background-color: plum;
}

.darkBlue {
    background-color: darkblue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.grey {
    background-color: grey;
}

.darkGreen {
    background-color: green;
}