.container {
    display: flex;
    justify-content: start;
    text-align: center;

    width: 20vw;
}

.battery {
    border: 5px solid black;
    width: 400px;
    height: 200px;
    background-color: red;
    animation-name: battery;
    animation-duration: 5s;
}

@keyframes battery {
    from {
        background-color: red;
        width: 0%;
    }

    to {
        background-color: green;
        width: 100%;
    }
}

.battery-tail {
    border: 5px solid black;
    width: 20px;
    height: 50px;
    position: relative;
    top: 70px;
    background-color: black;
}